# Challenge

## Introduction to the datase

- Read all-ages.csv from a DataFrame and assign it to the all_ages variable.
- Read recent-grads.csv from a DataFrame and assign it to the recent_grads variable.
- Display the first 5 lines of all_ages and recent_grads.

In [2]:
import pandas as pd
df = pd.read_csv('all-ages.csv')
#df

In [3]:
df.head(5)

,Major_code,Major,Major_category,Total,Employed,Employed_full_time_year_round,Unemployed,Unemployment_rate,Median,P25th,P75th
0,1100,GENERAL AGRICULTURE,Agriculture & Natural Resources,128148.0,90245.0,74078.0,2423.0,0.026147,50000.0,34000.0,80000.0
1,1101,AGRICULTURE PRODUCTION AND MANAGEMENT,Agriculture & Natural Resources,95326.0,76865.0,64240.0,2266.0,0.028636,54000.0,36000.0,80000.0
2,1102,AGRICULTURAL ECONOMICS,Agriculture & Natural Resources,33955.0,26321.0,22810.0,821.0,0.030248,63000.0,40000.0,98000.0
3,1103,ANIMAL SCIENCES,Agriculture & Natural Resources,103549.0,81177.0,64937.0,3619.0,0.042679,46000.0,30000.0,72000.0
4,1104,FOOD SCIENCE,Agriculture & Natural Resources,24280.0,17281.0,12722.0,894.0,0.049188,62000.0,38500.0,90000.0

In [29]:
recent_grades = pd.read_csv('recent-grads.csv')
recent_grades

,Rank,Major_code,Major,Major_category,Total,Sample_size,Men,Women,ShareWomen,Employed,...,Part_time,Full_time_year_round,Unemployed,Unemployment_rate,Median,P25th,P75th,College_jobs,Non_college_jobs,Low_wage_jobs
0,1,2419.0,PETROLEUM ENGINEERING,Engineering,2339.0,36.0,2057.0,282.0,0.120564,1976.0,...,270.0,1207.0,37.0,0.018381,110000.0,95000.0,125000.0,1534.0,364.0,193.0
1,2,2416.0,MINING AND MINERAL ENGINEERING,Engineering,756.0,7.0,679.0,77.0,0.101852,640.0,...,170.0,388.0,85.0,0.117241,75000.0,55000.0,90000.0,350.0,257.0,50.0
2,3,2415.0,METALLURGICAL ENGINEERING,Engineering,856.0,3.0,725.0,131.0,0.153037,648.0,...,133.0,340.0,16.0,0.024096,73000.0,50000.0,105000.0,456.0,176.0,0.0
3,4,2417.0,NAVAL ARCHITECTURE AND MARINE ENGINEERING,Engineering,1258.0,16.0,1123.0,135.0,0.107313,758.0,...,150.0,692.0,40.0,0.050125,70000.0,43000.0,80000.0,529.0,102.0,0.0
4,5,2405.0,CHEMICAL ENGINEERING,Engineering,32260.0,289.0,21239.0,11021.0,0.341631,25694.0,...,5180.0,16697.0,1672.0,0.061098,65000.0,50000.0,75000.0,18314.0,4440.0,972.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
168,169,3609.0,ZOOLOGY,Biology & Life Science,8409.0,47.0,3050.0,5359.0,0.637293,6259.0,...,2190.0,3602.0,304.0,0.046320,26000.0,20000.0,39000.0,2771.0,2947.0,743.0
169,170,5201.0,EDUCATIONAL PSYCHOLOGY,Psychology & Social Work,2854.0,7.0,522.0,2332.0,0.817099,2125.0,...,572.0,1211.0,148.0,0.065112,25000.0,24000.0,34000.0,1488.0,615.0,82.0
170,171,5202.0,CLINICAL PSYCHOLOGY,Psychology & Social Work,2838.0,13.0,568.0,2270.0,0.799859,2101.0,...,648.0,1293.0,368.0,0.149048,25000.0,25000.0,40000.0,986.0,870.0,622.0
171,172,5203.0,COUNSELING PSYCHOLOGY,Psychology & Social Work,4626.0,21.0,931.0,3695.0,0.798746,3777.0,...,965.0,2738.0,214.0,0.053621,23400.0,19200.0,26000.0,2403.0,1245.0,308.0
172,173,3501.0,LIBRARY SCIENCE,Education,1098.0,2.0,134.0,964.0,0.877960,742.0,...,237.0,410.0,87.0,0.104946,22000.0,20000.0,22000.0,288.0,338.0,192.0

## Number of students per Major category

- Return the unique values of Major_category.
>- Use the Series.unique() method to return the unique values of a Series.

In [18]:
data = df['Major_category'].unique()
data

array(['Agriculture & Natural Resources', 'Biology & Life Science',
       'Engineering', 'Humanities & Liberal Arts',
       'Communications & Journalism', 'Computers & Mathematics',
       'Industrial Arts & Consumer Services', 'Education',
       'Law & Public Policy', 'Interdisciplinary', 'Health',
       'Social Science', 'Physical Sciences', nan,
       'Psychology & Social Work', 'Arts', 'Business'], dtype=object)

- For each unique value (use a for? loop):
>- Return all lines where Major_category is worth this unique value.
>- Calculate the total number of students representing this major category (Total column to sum).
>- You will store this result in the form of a dictionary containing a Major_category key and the number of students as a value.

In [19]:
Total = df['Total'].sum()
Total

39806506.0

In [20]:
aa_car_counts = {}
mc = df['Major_category'].unique()
mclist = mc.tolist()
for item in mclist:
    temp = df.loc[df["Major_category"] == item]
    grads = temp["Total"].sum()
    aa_car_counts[item] = grads

 
print (aa_car_counts)

{'Agriculture & Natural Resources': 632437.0, 'Biology & Life Science': 1338186.0, 'Engineering': 3576013.0, 'Humanities & Liberal Arts': 3738335.0, 'Communications & Journalism': 1803822.0, 'Computers & Mathematics': 1781378.0, 'Industrial Arts & Consumer Services': 1018072.0, 'Education': 4700118.0, 'Law & Public Policy': 902926.0, 'Interdisciplinary': 45199.0, 'Health': 2950859.0, 'Social Science': 2654125.0, 'Physical Sciences': 1013152.0, nan: 0.0, 'Psychology & Social Work': 1987278.0, 'Arts': 1805865.0, 'Business': 9858741.0}

#### Mission:
- Create a function in which you will use the Total column to calculate the number of students for each Major category (Major_category) in each dataset.
>- Store the result in 2 separate dictionaries.
>- The key for each dictionary will be Major_category and the value the total number of students.
>- For the dataset all_ages, store the result in a dictionary called aa_car_counts.
>- For the dataset recent_grads, store the result in a dictionary called rg_cat_counts.
- Other method: Use a table pivot.
- Display both dictionaries.

In [21]:
def xyz():
    aa_car_counts = {}
    mc = df['Major_category'].unique()
    mclist = mc.tolist()
    for item in mclist:
        temp = df.loc[df["Major_category"] == item]
        grads = temp["Total"].sum()
        aa_car_counts[item] = grads
    return aa_car_counts
    
xyz()

{'Agriculture & Natural Resources': 632437.0,
 'Biology & Life Science': 1338186.0,
 'Engineering': 3576013.0,
 'Humanities & Liberal Arts': 3738335.0,
 'Communications & Journalism': 1803822.0,
 'Computers & Mathematics': 1781378.0,
 'Industrial Arts & Consumer Services': 1018072.0,
 'Education': 4700118.0,
 'Law & Public Policy': 902926.0,
 'Interdisciplinary': 45199.0,
 'Health': 2950859.0,
 'Social Science': 2654125.0,
 'Physical Sciences': 1013152.0,
 nan: 0.0,
 'Psychology & Social Work': 1987278.0,
 'Arts': 1805865.0,
 'Business': 9858741.0}

In [22]:
import pandas as pd
df1 = pd.read_csv('recent-grads.csv')
def abc():
    rg_cat_counts = {}
    mc = df1['Major_category'].unique()
    mclist = mc.tolist()
    for item in mclist:
        temp = df1.loc[df["Major_category"] == item]
        grads = temp["Total"].sum()
        rg_cat_counts[item] = grads
    return rg_cat_counts
    
abc()

{'Engineering': 858309.0,
 'Business': 261401.0,
 'Physical Sciences': 114663.0,
 'Law & Public Policy': 308030.0,
 'Computers & Mathematics': 303744.0,
 'Agriculture & Natural Resources': 168680.0,
 'Industrial Arts & Consumer Services': 513949.0,
 'Arts': 880770.0,
 'Health': 385775.0,
 'Social Science': 219878.0,
 nan: 0.0,
 'Biology & Life Science': 484849.0,
 'Education': 856492.0,
 'Humanities & Liberal Arts': 609630.0,
 'Psychology & Social Work': 438078.0,
 'Communications & Journalism': 36493.0,
 'Interdisciplinary': 152824.0}

## Low-wage job rate

- Use the columns "Low_wage_jobs" and "Total" to calculate the proportion of young graduates who had to find low-wage jobs (recent_grads).
>- Remember that you can use the Series.sum() method to return the sum of the values of a column
- Store the result in the variable low_wage_proportion and display it.

In [30]:
a = recent_grades['Total']
total = recent_grades['Total'].sum() 
emplo = recent_grades['Low_wage_jobs'].sum()
low_wage_proportion = emplo/total
low_wage_proportion

0.09856140415130317

In [31]:

a = recent_grades['Total']
total = recent_grades['Total']
emplo = recent_grades['Low_wage_jobs']
low_wage_proportion = emplo/total
low_wage_proportion

0      0.082514
1      0.066138
2      0.000000
3      0.000000
4      0.030130
         ...
168    0.088358
169    0.028732
170    0.219168
171    0.066580
172    0.174863
Length: 173, dtype: float64

## Compare datasets

- Use a for loop to browse all majors.
>- For each major and each DataFrame, filter only the lines of the DataFrame corresponding to that major.
>- Compare the values for the "Unemployment_rate" column to see which of the 2 DataFrames has the lowest value.
>- Increment (cad add 1) to the rg_lower_count variable if the value for Unemployment_rate is smaller in dataframe recent_grads than in dataframe all_ages
- Display the result rg_lower_count.

In [32]:
import pandas as pd
#df = pd.read_csv('recent-grads.csv')
#recent_grads = {}
majors = df['Major'].unique()
rg_lower_count = 0
#malist = majors.tolist()
for i in majors:
       rg_lower_count = df['Unemployment_rate'][df['Unemployment_rate'] == i]

for i in majors:
    
       b =  recent_grades['Unemployment_rate'] [recent_grades['Unemployment_rate']== i]

In [36]:
v = {}
a = df["Unemployment_rate"]
b = recent_grades["Unemployment_rate"]
d = b < a

rg_lower_count = 0


for i,obj in enumerate(d):
    if obj == True:
        a =  recent_grades["Major"].iloc[i]
        rg_lower_count += 1
        if a not in  v:
            v[a] = 1  
        else:
            v[a] = v[a] + 1


print(rg_lower_count)
print(v.keys())

61
dict_keys(['PETROLEUM ENGINEERING', 'METALLURGICAL ENGINEERING', 'ASTRONOMY AND ASTROPHYSICS', 'AEROSPACE ENGINEERING', 'MATERIALS SCIENCE', 'ENGINEERING MECHANICS PHYSICS AND SCIENCE', 'INDUSTRIAL AND MANUFACTURING ENGINEERING', 'GENERAL ENGINEERING', 'COURT REPORTING', 'MATERIALS ENGINEERING AND MATERIALS SCIENCE', 'OPERATIONS LOGISTICS AND E-COMMERCE', 'NURSING', 'INDUSTRIAL PRODUCTION TECHNOLOGIES', 'PHYSICS', 'MEDICAL TECHNOLOGIES TECHNICIANS', 'ENGINEERING AND INDUSTRIAL MANAGEMENT', 'MATHEMATICS AND COMPUTER SCIENCE', 'PHARMACY PHARMACEUTICAL SCIENCES AND ADMINISTRATION', 'AGRICULTURE PRODUCTION AND MANAGEMENT', 'GENERAL AGRICULTURE', 'MECHANICAL ENGINEERING RELATED TECHNOLOGIES', 'GENETICS', 'UNITED STATES HISTORY', 'PHYSICAL SCIENCES', 'CHEMISTRY', 'BUSINESS MANAGEMENT AND ADMINISTRATION', 'MARKETING AND MARKETING RESEARCH', 'BOTANY', 'GEOSCIENCES', 'SOCIAL PSYCHOLOGY', 'COMMUNICATIONS', 'AREA ETHNIC AND CIVILIZATION STUDIES', 'SPECIAL NEEDS EDUCATION', 'PHYSIOLOGY', 'ATMOSPHERIC SCIENCES AND METEOROLOGY', 'SOIL SCIENCE', 'FRENCH GERMAN LATIN AND OTHER COMMON FOREIGN LANGUAGE STUDIES', 'INTERCULTURAL AND INTERNATIONAL STUDIES', 'SOCIAL SCIENCE OR HISTORY TEACHER EDUCATION', 'MATHEMATICS TEACHER EDUCATION', 'EDUCATIONAL ADMINISTRATION AND SUPERVISION', 'MISCELLANEOUS BIOLOGY', 'BIOLOGY', 'TREATMENT THERAPY PROFESSIONS', 'HOSPITALITY MANAGEMENT', 'LANGUAGE AND DRAMA EDUCATION', 'MISCELLANEOUS EDUCATION', 'ECOLOGY', 'SECONDARY TEACHER EDUCATION', 'ELEMENTARY EDUCATION', 'PHYSICAL FITNESS PARKS RECREATION AND LEISURE', 'PLANT SCIENCE AND AGRONOMY', 'SCIENCE AND COMPUTER TEACHER EDUCATION', 'MUSIC', 'ANIMAL SCIENCES', 'HUMAN SERVICES AND COMMUNITY ORGANIZATION', 'COSMETOLOGY SERVICES AND CULINARY ARTS', 'COMMUNICATION DISORDERS SCIENCES AND SERVICES', 'EARLY CHILDHOOD EDUCATION', 'ZOOLOGY', 'COUNSELING PSYCHOLOGY'])

In [34]:
df1 = pd.read_csv('recent-grads.csv')
recent_grads = {}
majors = df['Major'].unique()
rg_lower_count = 0
malist = majors.tolist()
for i in malist:
    rtemp = df1.loc[df1["Major"]== i]
    rrate = rtemp["Unemployment_rate"]
    #print (rrate)
    atemp = df.loc[df["Major"]== i]
    arate = atemp["Unemployment_rate"]
    #print (arate)
    if rrate.all() < arate.all():
        rg_lower_count += 1
print (rg_lower_count)

3